/*================================
Default values 

font family: Roboto condensed;

Greenish blue : #34c6d30  (Button, icons, links, background)
steel gray: #41464b (headings)
blue bayoux : #64707b (paragraphs)
white : #fff (text with black background)
black : #000 




new colors 
background - #3AAFA9
heading - #FEFFFF
DARK BLACK GRAY-  #17252A
LIGHT GAY AND MIX - #2B7A78
LIGHT - #DEF2F1
==============================*/
html,body{
	height: 100%;
}

body{
	font-family: "Roboto condensed", sans-serif; 

}
p{
	color: #000;
	font-size: 16px;
	font-weight: 300;
}
h3{
	color:#fff; 
	text-transform: uppercase;
}


/*   home    */

#home{
	height: 100%;	
}

#home-cover{
	height: 100%;
	/*background-image: url("../img/graphic-web.png");*/
	background-color: #3AAFA9;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#home-content-box{
	width: 100%;
	height: 100%;
	display: table;
	margin: 50px 0 50px 0;
	align-content: center;
}

#home-content-box-sec6{
	width: 100%;
	height: 100%;
	padding-top: 80px;
	margin: 50px 0 50px 0;
	display: table;
}
#home-content-box-inner{
	display: table-cell;
	vertical-align:middle;
	text-align: center;
	float: middle;
}

#home-heading h3{
	color: #fff;
	font-size: 70px;
	font-weight: 1000;
	margin: 50px 0px 20px 0px;
	text-transform: none;
	text-align: center;
}

#home-heading-sec6 h3{
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	margin: 50px 0px 20px 0px;
	text-transform: none;
}

#home-heading2 h3{
	color: #17252A;
	font-size: 70px;
	font-weight: 1000;
	margin: 0px 0 30px 0;
	text-transform: none;
	text-align: center;
	/*text-transform: none;*/
}

#home-p p{
	font-size: 18px;
	font-weight: 400px;
	color: #17252A;
	margin: 0px 250px 30px 250px;

}

/*    parallax(generic)    */
.bg-parallax{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.home-btn a {
    font-size: 15px;
    color: #2B7A78;
    padding: 0.7em 2.5em;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    display: inline-block;
    background: #DEF2F1;
    font-family: 'Roboto Condensed', sans-serif;
 /*   border: 2px solid #00b3fe;*/
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	margin: 20px 10px 50px 10px;


}
.home-btn a:hover{
	/*background:transparent;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;*/
	 color: #FEFFFF;
	 background:  #17252A;
}

.home-btn-sec6 a {
    font-size: 15px;
    color: #2B7A78;
    padding: 0.7em 2.5em;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    display: inline-block;
    background: #DEF2F1;
    font-family: 'Roboto Condensed', sans-serif;
 /*   border: 2px solid #00b3fe;*/
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	margin: 20px 10px 50px 10px;


}
.home-btn-sec6 a:hover{
	 color: #FEFFFF;
	 background:  #17252A;
}

/*---------- section 2 ----------*/

#section2-heading h3{
	color:  #17252A;
	font-size: 55px;
	font-weight: 700;
	text-align: left;
	background-position: center;
	margin: 70px 100px 70px 150px;
	/*text-transform: none;*/
	vertical-align: middle;
}

/*#section4-heading h3{
	color:  #FEFFFF;
	font-size: 55px;
	font-weight: 700;
	text-align: left;
	background-position: center;
	margin: 70px 100px 70px 150px;
	/*text-transform: none;*/
	/*vertical-align: middle;
}*/

#section2-para p{
	font-size: 16px;
	font-weight: 400px;
	text-align: left;
	background-position: center;
	margin: 50px 50px 50px 0px;
}


/* ---------section 4------------------*/
.section4{
	background-color: #17252A;
}

#section4-heading h3{
	color:  #ffffff;
	font-size: 55px;
	font-weight: 700;
	text-align: left;
	background-position: center;
	margin: 70px 100px 70px 150px;
	/*text-transform: none;*/
	vertical-align: middle;
}

#section4-para p{
	color: #FEFFFF;
	font-size: 16px;
	font-weight: 400px;
	text-align: left;
	padding-left: 20px;
	background-position: center;
	margin: 50px 50px 50px 0px;
}


.skewSection--silver {
	background-color: #17252A;
}
.skewSection--lightdark{
	background-color:  #2B7A78;
}
.skewSection--light{
	background-color:  #FEFFFF;
}

.skewSection{
	position: relative;
	width: 100%;
	height: 50px;
}

.skewSection:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: 10;
    bottom: 0;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
}
div{
	display: block;
}



/*   Button   */
.btn-general{
	border-color: #fff;
	border-width: 2px;
	border-radius: 0;
	padding: 12px 26px 12px 26px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.btn-white{
	border-color: #fff;
	color: #fff;
}
.btn-white:hover, .btn-white:focus{
	background-color: #fff;
	color: #41464b;
}
.btn-blue{
	border-color: #34c6d3;
	color: #34c6d3;
}
.btn-blue:hover, .btn-blue:focus{
	background-color: #34c6d3;
	color: #fff;
}
/*   animate    */
#home-cover, #home-heading, #home-btn{
	animation-duration: .5s;
}

#home-cover{
	animation-delay: .1s;
}


/*    content box   */
.content-box{
	padding: 60px 0 60px 0;
	/*background-image: linear-gradient(90deg, #ff935c, #fb406c);*/
	background-color: #17252A;
}
.content-box-tt{
	padding: 60px 0 60px 0;
	/*background-image: linear-gradient(90deg, #ff935c, #fb406c);*/
	background-color: #FEFFFF;
}
.content-box-sec3{
	padding: 60px 0 100px 0;
	/*background-image: linear-gradient(90deg, #ff935c, #fb406c);*/
	background-color: #2B7A78;
}
.content-box-sec4{
	padding: 60px 0 100px 0;
	/*background-image: linear-gradient(90deg, #ff935c, #fb406c);*/
	background-color: #17252A;
}
.content-box-sec5{
	padding: 60px 0 60px 0;
	/*background-image: linear-gradient(90deg, #ff935c, #fb406c);*/
	background-color: #FEFFFF;
}
.content-title h3{
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	margin: 0 0 30px 0;
}


.content-title-sec3 h3{
	font-size: 35px;
	color: #FEFFFF;
	font-weight: 700;
	text-align: center;
	margin: 0 0 30px 0;
}
.content-title-tt h3{
	font-size: 35px;
	color: #17252A;
	font-weight: 700;
	text-align: center;
	margin: 0 0 30px 0;
}
.content-title-sec5 h3{
	font-size: 30px;
	color: #17252A;
	font-weight: 700;
	text-align: center;
	margin: 0 0 30px 0;
}
.content-title-underline{
	width: 30px;
	height: 3px;
	background-color: #34c6d3;
	margin: 0 auto 30px auto;
}

/*  ---------------  services  -----------------------  */
.services-item{
	padding: 20px 0 120px 0;
	margin: 20px;
	cursor: pointer;
}
.services-item-sec3{
	padding: 20px 0 200px 0;
	margin: 20px;
}
.services-item-sec5{
	padding: 20px 20px 20px 20px;
	margin: 20px;
	align-content: center;
	text-align: center;
	/*border: 0px solid #3A5E5E;
	border-radius: 5px;
	background-color:#DEF2F1;
	height: 210px; 
	width: 360px;*/
}
.services-item-icon i{
	color: #fff;
	float: left;
	padding: 15px;
	width: 75px;
	height: 75px;
	margin-right: 25px;
	text-align: center;
}
.services-item-icon-sec5 i{
	color: #3AAFA9;
	padding: 15px;
	/*width: 75px;
	height: 75px;*/
/*	margin-right: 25px;*/
	text-align: center;
	float: middle;
}
.services-item:hover  .services-item-icon i{
	color: #17252A;
	background-color: #DEF2F1;
}
.services-item-title h3{
font-size: 18px;
font-weight: 400;
margin: 18px 0 10px 0;
}
.services-item-title-sec5 h3{
font-size: 20px;
color: #17252A;
font-weight: 400;
text-align: center;
margin: 0 0 10px 0;
}
.services-item-title-sec3-l h3{
font-size: 25px;
font-weight: 500;
margin: 0 0 10px 0;
float: right;
text-align: right;
}

.services-item-title-sec3-r h3{
font-size: 25px;
font-weight: 500;
margin: 0 0 10px 0;
float: left;
text-align: left;
}

.services-item-desc p{
	text-align: justify;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.services-item-desc-sec3-l p{
	margin: 0;
	text-align: right;
	float: right;
	color: #DEF2F1;
}
.services-item-desc-sec3-r p{
	margin: 0;
	text-align: left;
	float: left;
	color: #DEF2F1;	
}

.sec3-btn-l a {
    font-size: 15px;
    color: #2B7A78;
    padding: 0.7em 2.5em;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    display: inline-block;
    background: #DEF2F1;
    font-family: 'Roboto Condensed', sans-serif;
 /*   border: 2px solid #00b3fe;*/
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	margin: 20px 10px 20px 10px;
	float: right;
	text-align: right;
}
.sec3-btn-l a:hover{
	/*background:transparent;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;*/
	 color: #FEFFFF;
	 background:  #17252A;
}
.sec3-btn-r a {
    font-size: 15px;
    color: #2B7A78;
    padding: 0.7em 2.5em;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    display: inline-block;
    background: #DEF2F1;
    font-family: 'Roboto Condensed', sans-serif;
 /*   border: 2px solid #00b3fe;*/
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	margin: 20px 10px 0px 10px;
	text-align: left;
	float: left;
}
.sec3-btn-r a:hover{
	/*background:transparent;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;*/
	 color: #FEFFFF;
	 background:  #17252A;
}



/*====================================================
                     TESTIMONIALS
======================================================*/
#testimonials-cover{
   background-image: url("../images/bg-testimonials.jpg");
}

#testimonials .content-box{
   background-color: #FEFFFF;
}
#customer-testimonials{
   padding: 50px 0;
}
/*.testimonial img{
   max-width: 120px;
   margin: 0 auto;
}*/
.testimonial-text p{
   border: 0;
   /*font-family: Georgia, sans-serif;
   font-style: italic;*/
   color: #000;
   padding: 6px 150px;
   position: relative;
}
/*.testimonial blockquote p{
   color: #000;
}*/
/*.testimonial blockquote::before,
.testimonial blockquote::after{
   font-size: 80px;
   font-style: normal;
   line-height: 1;
   width: 30px;
   height: 30px;
   position: absolute;
}*/
/*.testimonial blockquote::before{
   content: "\201C";
   top: 0;
   left: 100px;
}
.testimonial blockquote::after{
   content: "\201D";
   bottom: 0;
   right: 100px;
}
*/
.testimonial-author p{
   color: #000;
   font-size: 17px;
}
.testimonial-author p strong{
   display: block;
   font-weight: 700;
}

/*----------------footer-------------------*/



#myFooter {
    background-color: #17252A;
    color: white;
    padding-top: 30px;
}



#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}



#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 40px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
     color: #2B7A78;
 background: #DEF2F1;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


/*    navigation    */
.navbar{
	padding: 20px 0;

}
.demo-top-nav{
	background-color: rgba(0,0,0,0.7);
	padding: 7px 0;
}
.demo-nav-wrapper{
	padding: 0 85px;
}
.navbar-nav{
	float: right;
}

.navbar-nav > li > a{
	color: #FEFFFF;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
	background: none;
	color: #34c6d3;
}
.navbar-toggle{
	 background-color: rgba(0,0,0,0.1);
	 border: 1px solid #fff;
	 border-radius: 0;
}
.navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-collapse{
	max-height: none !important;
}
.demo-top-nav ul.navbar-nav > li.active > a{
	color: #34c6d3;
}
.navbar-brand{
	color: #FEFFFF;
	font-weight: 700;
	font-size: 25px;

}

.navbar-header > a:hover, .navbar-header > a:focus{
	background: none;
	color: #34c6d3;
}